.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background: #4c3327;
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-brand {
    color: white;
}

.nav-item {
    margin: 0 1em;
}

.sidenav {
    background-color: #E25D33;
}

#form-search {
    padding: 2em 3em;
    color: white;
    font-size: 1.2em;
}

#form-search legend {
    font-size: 1.6em;
}

.social {
    width: 510px;
    margin: 2em auto;
}

.line {
    margin: 0;
    display: inline-block;
    width: 170px;
    border: 1px solid #999999;
}

.line-center {
    margin: 0;
    display: inline-block;
    width: 100px;
}

.btn {
    background-color: #E25D33;
    border: none;
    color: white;
    padding: .25em 1.25em;
    border: none;
    font-size: 1em;
}

.btn-social {
    margin: .5em auto;
    color: white;
    padding: .75em 1.5em;
}

.btn-search {
    background-color: #4c3327;
    border: none;
}

.login-social {
    text-align: center;
    margin: 2em 0;
}

.facebook {
    background-color: #3B5998;
}

.twitter {
    background-color: #55ACEE;
}

.google {
    background-color: #dd4b39;
}

.tour {
    margin: 2em 3em;
    padding: 1em 2em;
    border-radius: 10px;
    background-color: white;
}

.panel {
    padding: 1.5em;

}

.panel-heading {
    font-size: 2.2em;
    color: #4c3327;
}

.panel-body {
    margin: 1.5em 0;
}

.price {
    color: red;
}

.panel-footer {
    line-height: .75em;
    font-size: 1.2em;
}

.slideshow-container {
    position: relative;
    margin: 0;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    width: 100%;
}

.slideshow-container {
    position: relative;
    margin: 0;
}

.text {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.dot {
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: none;
    transition: background-color 2.6s ease;
}

.active {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.card {
    margin: 5em 0;
}

.footer-card {
    border: none;
    margin: 5em 0 0 0;
}

.col-sm-9 {
    margin: 0;
    padding: 0;
    background-color: #dae0e5;
}

.card-header, .card-footer {
    background-color: #4c3327;
    color: white;
    font-size: 1.5em;
}

.card-body {
    font-size: 1.2em;
}

.modal-footer {
    margin: 0;
    padding: 1.5em;
    background-color: #4c3327;
}

.card-profile {
    margin: 0;
}

.card-body-profile {
    padding: 5em 20%;
}

.img-header {
    height: 170px;
}
